html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    margin-top: 22px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono';
}

main{
    flex-grow: 1;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p{
    font-family: 'Lexend Deca' ; 
    margin: 0;
}
img{
    vertical-align: middle;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}
.button{
    &__link{
        display: inline-block;
        padding: 14px 39px;
        background-color:#FCB72B;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        &:hover{
            background-color: transparent;
            border: 3px solid #FCB72B;
            color: #FCB72B;
        }
        &:active{
            opacity: 0.5;
        }
    }
    
}